<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PowerMockTestCase.beforePowerMockTestClass()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;beforePowerMockTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PowerMockTestCase.beforePowerMockTestMethod()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;beforePowerMockTestMethod</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="627862">  <td>14/02/15 11:32:49</td>   <td>1109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageControllerTest.setUp()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="627862">  <td>14/02/15 11:32:53</td>   <td>4203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PageControllerTest.shloudWriteToDocument()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">shloudWriteToDocument</td> 
  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:53</td>   <td>4281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PowerMockTestCase.afterPowerMockTestMethod()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&lt;&lt;afterPowerMockTestMethod</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:53</td>   <td>4296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PowerMockTestCase.beforePowerMockTestMethod()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;beforePowerMockTestMethod</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="627862">  <td>14/02/15 11:32:53</td>   <td>4296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageControllerTest.setUp()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="627862">  <td>14/02/15 11:32:53</td>   <td>4296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PageControllerTest.shouldGetValueFromDocument()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">shouldGetValueFromDocument</td> 
  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:53</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PowerMockTestCase.afterPowerMockTestMethod()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&lt;&lt;afterPowerMockTestMethod</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:53</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PowerMockTestCase.beforePowerMockTestMethod()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;beforePowerMockTestMethod</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="627862">  <td>14/02/15 11:32:53</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PageControllerTest.setUp()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="627862">  <td>14/02/15 11:32:53</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PageControllerTest.shouldWriteUpperCase()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">shouldWriteUpperCase</td> 
  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:53</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PowerMockTestCase.afterPowerMockTestMethod()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&lt;&lt;afterPowerMockTestMethod</td> 
<td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
<tr bgcolor="f877f8">  <td>14/02/15 11:32:53</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PowerMockTestCase.afterPowerMockTestClass()[pri:0, instance:com.pradny.test.PageControllerTest@63c863c8]">&lt;&lt;afterPowerMockTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@106432088</td>   <td></td> </tr>
</table>
